<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>development</string>
    <key>teamID</key>
    <string>8CZ4JT4F3M</string>
    <key>uploadSymbols</key>
    <true/>
    <key>uploadBitcode</key>
    <true/>
</dict>
</plist>